#asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
attrs==25.3.0
#Bottleneck @ file:///C:/b/abs_816hr2khp1/croot/bottleneck_1731058648110/work
cachetools==6.2.0
certifi==2026.1.4
charset-normalizer==3.4.3
cloudpickle==3.1.1
#colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
#comm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_comm_1753453984/work
contourpy==1.3.3
cycler==0.12.1
dateparser==1.2.2
#debugpy @ file:///D:/bld/bld/rattler-build_debugpy_1754523432/work
#decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
et_xmlfile==2.0.0
#exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1746947292760/work
#executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1745502089858/work
fastjsonschema==2.21.2
fonttools==4.59.1
h5py==3.15.1
idna==3.10
#importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
#ipykernel @ file:///D:/bld/ipykernel_1754352877088/work
#ipython @ file:///D:/bld/bld/rattler-build_ipython_1751470649/work
#ipython_pygments_lexers @ file:///home/conda/feedstock_root/build_artifacts/ipython_pygments_lexers_1737123620466/work
#jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2==3.1.6
joblib==1.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
#jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1733440914442/work
#jupyter_core @ file:///D:/bld/jupyter_core_1748333031907/work
kiwisolver==1.4.9
llvmlite==0.44.0
MarkupSafe==3.0.3
matplotlib==3.10.5
#matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1733416936468/work
mkl-service==2.4.0
#mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730824198951/work
#mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730824302834/work
narwhals==2.15.0
nbformat==5.10.4
#nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
numba==0.61.2
#numexpr @ file:///C:/b/abs_4e0h6i5ip2/croot/numexpr_1752521729801/work
numpy==2.1.3
openpyxl==3.1.5
# packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
# pandas @ file:///C:/b/abs_d5idbck212/croot/pandas_1752872294545/work/dist/pandas-2.3.1-cp313-cp313-win_amd64.whl#sha256=87b3af3f2c3381ba62240a11c366b2ab9ad9f60dac86307f52c95bb0e55a34d6
# parso @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_parso_1755974222/work
patsy==1.0.1
# pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow==11.3.0
# platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1746710438/work
plotly==6.5.2
# prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1744724089886/work
protobuf==6.32.1
# psutil @ file:///D:/bld/psutil_1755851304447/work
# pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
pvlib==0.15.0
pyarrow==23.0.0
# Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1750615794071/work
pyparsing==3.2.3
# python-dateutil @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/python-dateutil_1729038406576/work
# pytz @ file:///C:/b/abs_f8wdzeix0n/croot/pytz_1752135878094/work
# pywin32 @ file:///D:/bld/bld/rattler-build_pywin32_1752564076/work
# pyzmq @ file:///D:/bld/bld/rattler-build_pyzmq_1756007569/work
referencing==0.36.2
regex==2026.1.15
requests==2.32.5
rpds-py==0.27.1
scikit-learn==1.7.1
scipy==1.16.1
seaborn==0.13.2
setuptools==72.1.0
shap==0.48.0
# six @ file:///C:/b/abs_149wuyuo1o/croot/six_1744271521515/work
slicer==0.0.8
# stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
statsmodels==0.14.5
streamlit==1.50.0
tabulate==0.9.0
tenacity==9.1.2
threadpoolctl==3.6.0
# tornado @ file:///D:/bld/tornado_1754731985654/work
tqdm==4.67.1
# traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
# typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1751643513/work
# tzdata @ file:///croot/python-tzdata_1746123641790/work
tzlocal==5.3.1
urllib3==2.6.3
watchdog==6.0.0
# wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
wheel==0.45.1
xgboost==3.0.4
xlsxwriter==3.2.9
# zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1749421620841/work
